:root {
    --image-gap: max(1.5vw, 10px);
    --nav-border-radius: 14px;
        
    --h1-text: clamp(2rem, 11vw, 4.6rem);
    --h2-text: clamp(1.6rem, 4vw, 2.6rem);
    --h3-text: clamp(1.3rem, 2.5vw, 2.1rem);
    --h4-text: clamp(1.2rem, 2.5vw, 1.9rem);
    --small-text: clamp(1.1rem, 2.4vw, 1.3rem);
    --small-text-2: calc(var(--small-text) - 4px);
    --small-text-3: calc(var(--small-text) - 7px); 


    --light-color: rgb(255, 239, 218);
    --light-color-2: rgb(244, 226, 202);
    --dark-color: #41382F;
    --second-color: #3f51b5;
    --second-color-dark: #243280;
    --image-overlay-color: rgba(238, 214, 187, 0.85);

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0 auto;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    margin: 10vh 0;
}

table {
    border-radius: calc(var(--nav-border-radius) * 1.5);
    overflow: hidden; 
    background-color: var(--light-color);
    width: 50%;
    border-collapse: collapse;
    box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: var(--second-color);
    color: #ecf0f1;
    font-weight: 400;
    font-size: var(--small-text);
}

table td {
    font-size: var(--small-text-2);
}

.noday {
    background-color: var(--light-color-2);
}

.unavailable {
    background-color: rgba(0, 128, 0, 0.35);
}

.available {
    background-color: rgba(255, 0, 0, 0.35);
}